.App{
  min-height: 100vh;
}
.container{
  background-color: #fff;
  padding: 1.2rem;
  margin: 3rem auto;
  max-width: 35rem;
  border: 1px solid rgb(0, 0, 0,0.2);
  border-radius: 0.25rem;

}

.light{
  background-color: #fff;
  color: black;
  transition: 500ms all;

}
.dark{
  background-color: #15202b;
  color: white;
  transition: 500ms all;
}